.body {
    width: 100vw;
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffff;
}

.my__container {
    width: 100%;
    padding: 0;
}

.header {
    width: 100vw;
    height:100vh;
    background: url(/assets/svg/header.svg) center no-repeat;
    background-size:cover;
}

.my__color {
    color: #ffff;
}

.my__color:hover {
    color: #ffff;
    text-decoration: none;
}

.my__nav {
    padding-top: 25px;
}

.f_nav {
    margin-left: 25px;
}

.s_nav {
    margin-right: 25px;
}


.my_padding {
    padding-top: 180px;
}

.my__title {
    font-size: 55px;
    padding-bottom: 35px;
}

.my__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.my__btn {
    margin-top: 25px;
    color: #ffff;
    background-color: #216260;
    font-size: 30px;
    border-radius: 1rem;
}

.my__btn:hover {
    color: #ffff;
    background-color: #0f3534;
}


.request {
    width: 100vw;
    height:100vh;
    background: url(/assets/svg/request.svg) center no-repeat;
    background-size:cover;
}

.title__request {
    font-size: 35px;
    margin-bottom: 28px;
}

.my_padding_request {
    padding-top: 150px;
}

.my__btn__request {
    margin-top: 25px;
    color: #ffff;
    background-color: #0D3530;
    font-size: 30px;
    border-radius: 1rem;
}

.my__btn__request:hover {
    color: #ffff;
    background-color: #154b3f;
}

.my__form {
    margin-left: 25rem;
    margin-right: 25rem;
}

.my-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #8AB0B1;
    background-clip: padding-box;
    border: 1px solid #8AB0B1;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-form-group {
    margin-top: 2rem;
}

.footer {
    width: 100vw;
    height:100%;
    background: url(/assets/svg/footer.svg) center no-repeat;
    background-size:cover;
}

.support {
    width: 100px;
    height: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my__footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
}

.contact_us {
    margin-top: 6rem;
    margin-left: 3rem;
}

.vk {
    margin-top: 4rem;
    margin-left: 3rem;
}

.inst {
    margin: 4rem;
    margin-left: 3rem;
}

.gmail {
    margin-left: 1rem;
}

.phone {
    margin-left: 4rem;
}

.modal-color {
    background-color: #216260;
}